{% extends 'base.html' %}

{% block content %}
<div class="tweet-detail">
    <h2>Tweet</h2>
    <p>{{ tweet.content }} - {{ tweet.created_at }}</p>
    <p>Likes: {{ tweet.likes.count }}</p>
    <p>Dislikes: {{ tweet.dislikes.count }}</p>
    <p>Retweets: {{ tweet.retweets.count }}</p>
    <p>Score: {{ tweet.likes.count|add:tweet.retweets.count|add:tweet.dislikes.count }}</p>
    
    <a href="{% url 'like_tweet' tweet.pk %}">Like</a>
    <a href="{% url 'dislike_tweet' tweet.pk %}">Dislike</a>
    <a href="{% url 'retweet_tweet' tweet.pk %}">Retweet</a>
    <hr>
    {% if user.is_authenticated %}
        <div class="reply-form">
    <h3>Post a Reply:</h3>
    <form method="post">
        {% csrf_token %}
        {{ reply_form.content.label_tag }}
        {{ reply_form.content }}
        <button type="submit">Post Reply</button>
    </form>
</div>
    {% endif %}
</div>
{% endblock %}
